<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= link_to 'Click here for contact', contact_path%>

<%# = Unsafe parameter value in link_to href %>
<%#= link_to 'Click here',params[:url]%>

<%#also have to defing application_helper.rb  This will remove the warning for security vulnerability but it is vulnerable%>
<%#= link_to 'Click here', safe_url(params[:url]) %>

